*{
    margin: 0;
    padding: 0;
}

input, textarea{
    outline: none
}

input:focus, textarea:focus{
    outline: none
}

@font-face {
    font-family: "Geometria"; 
    src: url("../fonts/Geometria-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Geometria-Light"; 
    src: url("../fonts/Geometria-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 